body {
	background-color: #ffb9b6 !important; 
	color: white !important;
	font-family: "Cicle" !important;
}

textarea {
	color: black;
}

a {
	color: white;
}

a:hover {
	color:white;
}

.profile-picture {
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#crush-button {
	width: 50%;
}

.user-name {
	text-align:center;
}

#msg-box {
	width: 100%;
}

.box-title {
	text-align: center;
}

.info-box {
	padding-left: 3%;
	padding-right: 3%;
}

.info-row {
	margin-top: 2%;
	margin-bottom: 2%;
}
