<!DOCTYPE html>
 <html>
 	<head>
	    <title>Crush</title>
  	</head>
  	<body>
	 	<!-- <div ng-controller="profileController" style="margin-top: 4%; margin-bottom: 4%"> -->
	 	<div class="row"> <!-- ROW 1: picture, basic info -->
	 		<div class="profile-info">
	 			<div class="profile-container col-xs-4">
	 				<img class="profile-picture" src="/images/default_male.png"/>
	 			</div>
	 			<div class="col-xs-3">
	 				<h1>{{currentUserData.name}}</h1>
		      		<b>Gender:</b> {{currentUserData.gender}}<br>
		      		<b>Birthday:</b> {{currentUserData.birthday | limitTo:10}}<br>
		      		<b>City:</b> {{currentUserData.city}}<br>
		      		<b>Join Date:</b> {{currentUserData.joindate | limitTo:10}}<br>
		      		<b>Commit Level:</b> {{currentUserData.commitlevel}}<br>
		      		<b>Interested In:</b> {{currentUserData.interestedin}}<br>
		      		<br>
		      		<div ng-show="currentUserData.uid!=activeuid">
						<button type="submit" class="btn btn-primary btn-lg btn-block" id="crush-button" ng-click="setCurrentView('crushMessage.html')">Crush!</button>
					</div>
	 			</div>
	 		</div>
	 	</div>

	 	<div class="row info-row"> <!-- ROW 2: interests, friends, suggestions -->
	 		<div class="col-xs-4 info-box">
	 			<h1 class="box-title"><u>Interests</u></h1>
		       	<ul ng-repeat="i in interests">
		        	<li>{{i.interest}}</li>
		      	</ul>
	 		</div>

	 		<div class="col-xs-4 info-box">
	 			<h1 class="box-title"><u>Friends</u></h1>
		      	<ul ng-repeat="friend in friends">
		        	<li><a href = "#" ng-click="setCurrentView('profile.html', friend.uid)">{{friend.name}}</a></li>
		      	</ul>
	 		</div>

	 		<div ng-show="currentUserData.uid==activeuid">
		 		<div class="col-xs-4 info-box">
		 			<h1 class="box-title"><u>Suggestions</u></h1>
		 			<ul ng-repeat="s in suggestions">
		 				<li><a href = "#" ng-click="setCurrentView('profile.html', s.uid2)">{{s.name2}}</a></li>
		 			</ul>
		 		</div>
	 		</div>
	 	</div>

	 	<div ng-show="currentUserData.uid==activeuid">
	 	<div class="row info-row"> <!-- ROW 3: sent messages, received messages, successful crushes -->
	 		<div class="col-xs-4 info-box">
	 			<h1 class="box-title"><u>Successful Crushes</u></h1>
		       	<ul ng-repeat="r in relationships">
		        	<li><a href = "#" ng-click="setCurrentView('profile.html', r.uid)">{{r.name}}</a></li>
		      	</ul>
	 		</div>

	 		<div class="col-xs-4 info-box">
	 			<h1 class="box-title"><u>Messages Received</u></h1>
		      	<ul ng-repeat="message in messages">
			        <li>From: <a href = "#" ng-click="setCurrentView('profile.html', message.uid)">{{message.name}}</a> at {{message.ts | limitTo:10}}: {{message.text}}</li>
			      </ul>
	 		</div>

	 		<div class="col-xs-4 info-box">
	 			<h1 class="box-title"><u>Messages Sent</u></h1>
	 			<ul ng-repeat="message in messagesSent">
			        <li>To: <a href = "#" ng-click="setCurrentView('profile.html', message.uid)">{{message.name}}</a> at {{message.ts | limitTo:10}}: {{message.text}}</li>
			      </ul>
	 		</div>
	 	</div>
	 	<!-- </div> -->

	 	

	 	</div>
		<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
      	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
      	<script src="javascripts/app.js"></script>
	</body>
</html>

