
    <div class="register-container col-xs-4 col-xs-offset-4" style="margin-top: 8%">
      <div class="header">
        <h1 style="text-align: center">Sign Up Below</h1>
      </div>

      <div class="todo-form">
        <form>
          <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Username" ng-model=""></div>
          <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Password" ng-model=""></div>
          <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Birthday e.g. 10-9-1995" ng-model=""></div>
          <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Gender" ng-model=""></div>
          <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Sexual Orientation" ng-model=""></div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createAccount">Create Account</button>
        </form>
      </div>
      <br>
    </div>
