 
    <body>
      <div class="register-container col-xs-4 col-xs-offset-4" style="margin-top: %">
        <div class="header">
          <h1 style="text-align: center">Settings</h1>
        </div>
        Update Info
        <div class="todo-form">
          <form>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Email" ng-model="registerInfo.email"></div>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Name" ng-model="registerInfo.name"></div>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Password" ng-model="registerInfo.password"></div>
            
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Gender" ng-model="registerInfo.gender"></div>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Birthday e.g. 10-9-1995" ng-model="registerInfo.birthday"></div>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="City" ng-model="registerInfo.city"></div>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Commitment" ng-model="registerInfo.commit"></div>
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Phone" ng-model="registerInfo.phone"></div>
            
            <div class="form-group"><input type="text" class="form-control input-lg" placeholder="Sexual Orientation" ng-model="registerInfo.sexOrientation"></div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createAccount()">Create Account</button>
          </form>
        </div>
      </div>
   
    </body>
</html>